.inputContainer {
    display: flex;
    justify-content: center;
    gap: .5rem;

    margin-top: -1.8rem;
}

.input {
    width: 39.8rem;
    padding: 1rem;

    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: .5rem;

    color: var(--gray-100);
}

.button {
    padding: 1rem;

    font-size: 1rem;
    font-weight: 700;
    color: var(--Gray-100, #F2F2F2);

    background: var(--blue-200);
    border: 1px solid black;
    border-radius: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; 

    cursor: pointer;
}

.button:hover {
    background-color: var(--blue-100);
}